*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
h1 span{
    color: rgb(0, 183, 255);
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: relative;
    height: 70px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.397);
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.menu-icon .menu1{
    display: none;
}
.menu-icon i{
    color: rgb(0, 183, 255);
}
.menu-icon .menu1 i{
    font-size: 30px;
}
.active{
    display: block;
}
@media (max-width:900px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
        background: rgb(0, 183, 255);
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon .fa-brands{
        display: none;
    }
    .menu-icon .menu1{
        display: block;
    }
}